In [1]:
# Antes de iniciar a coleta dos dados vamos importar as bibliotecas necessárias.
import pandas as pd
import os

In [3]:
DIRETORIO = '/Users/macbook/Documents/Projects Github/IGTI/Modulo 2/Desafio/'
arquivo = 'dados_jogadores.csv'
dados = os.path.join(DIRETORIO, arquivo) # busca caminho do arquivo ja com suas conversões

In [4]:
dataframe = pd.read_csv(dados, sep=';', encoding = 'latin-1')

In [5]:
dataframe

,jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas
0,jogador 1,Masculino,03/09/1990,Dama,Chile,14.0,0.0,14.0
1,Jogador 2,Feminino,01/05/1986,Jogo da velha,Chile,39.0,20.0,59.0
2,Jogador 3,Masculino,04/10/1964,Jogo da velha,Brasil,26.0,3.0,29.0
3,Jogador 4,Masculino,28/09/1979,Jogo da velha,Argentina,9.0,72.0,81.0
4,Jogador 5,Masculino,03/09/1978,Dama,Uruguai,1.0,54.0,55.0
...,...,...,...,...,...,...,...,...
494,Jogador 495,Feminino,03/06/1974,Dama,Chile,52.0,28.0,80.0
495,Jogador 496,Masculino,09/02/1959,Dama,Chile,13.0,51.0,64.0
496,Jogador 497,Masculino,06/01/1962,Jogo da velha,Argentina,57.0,NaN,80.0
497,Jogador 498,Masculino,28/09/1958,Jogo da velha,Chile,5.0,3.0,8.0
498,Jogador 499,Feminino,08/10/2004,Jogo da velha,Paraguai,1.0,86.0,87.0

In [7]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   jogador          499 non-null    object
 1   genero           499 non-null    object
 2   data_nascimento  499 non-null    object
 3   jogo             499 non-null    object
 4   pais             499 non-null    object
 5   num_vitorias     491 non-null    float64
 6   num_derrotas     494 non-null    float64
 7   total_partidas   491 non-null    float64
dtypes: float64(3), object(5)
memory usage: 31.3+ KB

In [8]:
dataframe.isnull().sum().sort_values(ascending=False)

num_vitorias       8
total_partidas     8
num_derrotas       5
jogador            0
genero             0
data_nascimento    0
jogo               0
pais               0
dtype: int64

In [14]:
dataframe = dataframe.fillna(0)
dataframe.isnull().sum().sort_values(ascending=False)

jogador            0
genero             0
data_nascimento    0
jogo               0
pais               0
num_vitorias       0
num_derrotas       0
total_partidas     0
dtype: int64

In [15]:
dataframe

,jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas
0,jogador 1,Masculino,03/09/1990,Dama,Chile,14.0,0.0,14.0
1,Jogador 2,Feminino,01/05/1986,Jogo da velha,Chile,39.0,20.0,59.0
2,Jogador 3,Masculino,04/10/1964,Jogo da velha,Brasil,26.0,3.0,29.0
3,Jogador 4,Masculino,28/09/1979,Jogo da velha,Argentina,9.0,72.0,81.0
4,Jogador 5,Masculino,03/09/1978,Dama,Uruguai,1.0,54.0,55.0
...,...,...,...,...,...,...,...,...
494,Jogador 495,Feminino,03/06/1974,Dama,Chile,52.0,28.0,80.0
495,Jogador 496,Masculino,09/02/1959,Dama,Chile,13.0,51.0,64.0
496,Jogador 497,Masculino,06/01/1962,Jogo da velha,Argentina,57.0,0.0,80.0
497,Jogador 498,Masculino,28/09/1958,Jogo da velha,Chile,5.0,3.0,8.0
498,Jogador 499,Feminino,08/10/2004,Jogo da velha,Paraguai,1.0,86.0,87.0

In [41]:
df_pais = list(dataframe.pais.unique())
df_jogo = list(dataframe.jogo.unique())

In [42]:
df_pais

['Chile', 'Brasil', 'Argentina', 'Uruguai', 'Paraguai']

In [43]:
df_jogo

['Dama', 'Jogo da velha', 'Xadrez']

In [24]:
dataframe['data_nascimento'] = pd.to_datetime(dataframe['data_nascimento']).dt.strftime('%Y-%m-%d')
dataframe['data_nascimento']

0      1990-03-09
1      1986-01-05
2      1964-04-10
3      1979-09-28
4      1978-03-09
          ...
494    1974-03-06
495    1959-09-02
496    1962-06-01
497    1958-09-28
498    2004-08-10
Name: data_nascimento, Length: 499, dtype: object

In [25]:
dataframe

,jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas
0,jogador 1,Masculino,1990-03-09,Dama,Chile,14.0,0.0,14.0
1,Jogador 2,Feminino,1986-01-05,Jogo da velha,Chile,39.0,20.0,59.0
2,Jogador 3,Masculino,1964-04-10,Jogo da velha,Brasil,26.0,3.0,29.0
3,Jogador 4,Masculino,1979-09-28,Jogo da velha,Argentina,9.0,72.0,81.0
4,Jogador 5,Masculino,1978-03-09,Dama,Uruguai,1.0,54.0,55.0
...,...,...,...,...,...,...,...,...
494,Jogador 495,Feminino,1974-03-06,Dama,Chile,52.0,28.0,80.0
495,Jogador 496,Masculino,1959-09-02,Dama,Chile,13.0,51.0,64.0
496,Jogador 497,Masculino,1962-06-01,Jogo da velha,Argentina,57.0,0.0,80.0
497,Jogador 498,Masculino,1958-09-28,Jogo da velha,Chile,5.0,3.0,8.0
498,Jogador 499,Feminino,2004-08-10,Jogo da velha,Paraguai,1.0,86.0,87.0

In [28]:
dataframe = dataframe.rename(columns = {'jogador': 'nome_jogador'})

In [29]:
dataframe

,nome_jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas
0,jogador 1,Masculino,1990-03-09,Dama,Chile,14.0,0.0,14.0
1,Jogador 2,Feminino,1986-01-05,Jogo da velha,Chile,39.0,20.0,59.0
2,Jogador 3,Masculino,1964-04-10,Jogo da velha,Brasil,26.0,3.0,29.0
3,Jogador 4,Masculino,1979-09-28,Jogo da velha,Argentina,9.0,72.0,81.0
4,Jogador 5,Masculino,1978-03-09,Dama,Uruguai,1.0,54.0,55.0
...,...,...,...,...,...,...,...,...
494,Jogador 495,Feminino,1974-03-06,Dama,Chile,52.0,28.0,80.0
495,Jogador 496,Masculino,1959-09-02,Dama,Chile,13.0,51.0,64.0
496,Jogador 497,Masculino,1962-06-01,Jogo da velha,Argentina,57.0,0.0,80.0
497,Jogador 498,Masculino,1958-09-28,Jogo da velha,Chile,5.0,3.0,8.0
498,Jogador 499,Feminino,2004-08-10,Jogo da velha,Paraguai,1.0,86.0,87.0

In [48]:
jogador = dataframe

In [49]:
jogador

,nome_jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas
0,jogador 1,Masculino,1990-03-09,Dama,Chile,14.0,0.0,14.0
1,Jogador 2,Feminino,1986-01-05,Jogo da velha,Chile,39.0,20.0,59.0
2,Jogador 3,Masculino,1964-04-10,Jogo da velha,Brasil,26.0,3.0,29.0
3,Jogador 4,Masculino,1979-09-28,Jogo da velha,Argentina,9.0,72.0,81.0
4,Jogador 5,Masculino,1978-03-09,Dama,Uruguai,1.0,54.0,55.0
...,...,...,...,...,...,...,...,...
494,Jogador 495,Feminino,1974-03-06,Dama,Chile,52.0,28.0,80.0
495,Jogador 496,Masculino,1959-09-02,Dama,Chile,13.0,51.0,64.0
496,Jogador 497,Masculino,1962-06-01,Jogo da velha,Argentina,57.0,0.0,80.0
497,Jogador 498,Masculino,1958-09-28,Jogo da velha,Chile,5.0,3.0,8.0
498,Jogador 499,Feminino,2004-08-10,Jogo da velha,Paraguai,1.0,86.0,87.0

In [39]:
df_jogo = df_jogo.rename(columns = {'jogo': 'nome_jogo'})
df_jogo

       nome_jogo
0           Dama
1  Jogo da velha
5         Xadrez

['nome_jogo']

In [44]:
import MySQLdb
import sqlalchemy


user = 'root'
password = '2KM7up48'
host = 'localhost'
data_base = 'dadosJogadores'

string_conexao = f'mysql://{user}:{password}@{host}/{data_base}'
string_conexao

engine = sqlalchemy.create_engine(string_conexao)
conn = engine.connect()

In [45]:
for jogo in df_jogo:
    try:
        query = f"""insert into jogo (nome_jogo) 
                     values ('{jogo}')"""
        conn.execute(query)
        print(f"Registro inserido com sucesso: {jogo}")
    except Exception as e:
        print(f"Não foi possível inserir o regristro {jogo}. O erro foi encontrado foi: {e}")

Registro inserido com sucesso: Dama
Registro inserido com sucesso: Jogo da velha
Registro inserido com sucesso: Xadrez

In [46]:
for paises in df_pais:
    try:
        query = f"""insert into pais (nome_pais) 
                     values ('{paises}')"""
        conn.execute(query)
        print(f"Registro inserido com sucesso: {paises}")
    except Exception as e:
        print(f"Não foi possível inserir o regristro {paises}. O erro foi encontrado foi: {e}")

Registro inserido com sucesso: Chile
Registro inserido com sucesso: Brasil
Registro inserido com sucesso: Argentina
Registro inserido com sucesso: Uruguai
Registro inserido com sucesso: Paraguai

In [50]:
jogador

,nome_jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas
0,jogador 1,Masculino,1990-03-09,Dama,Chile,14.0,0.0,14.0
1,Jogador 2,Feminino,1986-01-05,Jogo da velha,Chile,39.0,20.0,59.0
2,Jogador 3,Masculino,1964-04-10,Jogo da velha,Brasil,26.0,3.0,29.0
3,Jogador 4,Masculino,1979-09-28,Jogo da velha,Argentina,9.0,72.0,81.0
4,Jogador 5,Masculino,1978-03-09,Dama,Uruguai,1.0,54.0,55.0
...,...,...,...,...,...,...,...,...
494,Jogador 495,Feminino,1974-03-06,Dama,Chile,52.0,28.0,80.0
495,Jogador 496,Masculino,1959-09-02,Dama,Chile,13.0,51.0,64.0
496,Jogador 497,Masculino,1962-06-01,Jogo da velha,Argentina,57.0,0.0,80.0
497,Jogador 498,Masculino,1958-09-28,Jogo da velha,Chile,5.0,3.0,8.0
498,Jogador 499,Feminino,2004-08-10,Jogo da velha,Paraguai,1.0,86.0,87.0

In [51]:
dataframe_jogo = pd.read_sql('jogo', con=conn)
dataframe_jogo

   cod_jogo      nome_jogo
0         1           Dama
1         2  Jogo da velha
2         3         Xadrez

In [61]:
dict_jogo = dataframe_jogo.set_index(dataframe_jogo.nome_jogo)['cod_jogo'].to_dict()
dict_jogo

{'Dama': 1, 'Jogo da velha': 2, 'Xadrez': 3}

In [62]:
jogador.jogo = jogador.jogo.map(dict_jogo)
jogador

,nome_jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas
0,jogador 1,Masculino,1990-03-09,1,Chile,14.0,0.0,14.0
1,Jogador 2,Feminino,1986-01-05,2,Chile,39.0,20.0,59.0
2,Jogador 3,Masculino,1964-04-10,2,Brasil,26.0,3.0,29.0
3,Jogador 4,Masculino,1979-09-28,2,Argentina,9.0,72.0,81.0
4,Jogador 5,Masculino,1978-03-09,1,Uruguai,1.0,54.0,55.0
...,...,...,...,...,...,...,...,...
494,Jogador 495,Feminino,1974-03-06,1,Chile,52.0,28.0,80.0
495,Jogador 496,Masculino,1959-09-02,1,Chile,13.0,51.0,64.0
496,Jogador 497,Masculino,1962-06-01,2,Argentina,57.0,0.0,80.0
497,Jogador 498,Masculino,1958-09-28,2,Chile,5.0,3.0,8.0
498,Jogador 499,Feminino,2004-08-10,2,Paraguai,1.0,86.0,87.0

In [63]:
jogador = jogador.rename(columns = {'jogo': 'cod_jogo'})

In [64]:
jogador

,nome_jogador,genero,data_nascimento,cod_jogo,pais,num_vitorias,num_derrotas,total_partidas
0,jogador 1,Masculino,1990-03-09,1,Chile,14.0,0.0,14.0
1,Jogador 2,Feminino,1986-01-05,2,Chile,39.0,20.0,59.0
2,Jogador 3,Masculino,1964-04-10,2,Brasil,26.0,3.0,29.0
3,Jogador 4,Masculino,1979-09-28,2,Argentina,9.0,72.0,81.0
4,Jogador 5,Masculino,1978-03-09,1,Uruguai,1.0,54.0,55.0
...,...,...,...,...,...,...,...,...
494,Jogador 495,Feminino,1974-03-06,1,Chile,52.0,28.0,80.0
495,Jogador 496,Masculino,1959-09-02,1,Chile,13.0,51.0,64.0
496,Jogador 497,Masculino,1962-06-01,2,Argentina,57.0,0.0,80.0
497,Jogador 498,Masculino,1958-09-28,2,Chile,5.0,3.0,8.0
498,Jogador 499,Feminino,2004-08-10,2,Paraguai,1.0,86.0,87.0

In [65]:
dataframe_pais = pd.read_sql('pais', con=conn)

In [66]:
dataframe_pais

   cod_pais  nome_pais
0         1      Chile
1         2     Brasil
2         3  Argentina
3         4    Uruguai
4         5   Paraguai

In [67]:
dict_pais = dataframe_pais.set_index(dataframe_pais.nome_pais)['cod_pais'].to_dict()
dict_pais

{'Chile': 1, 'Brasil': 2, 'Argentina': 3, 'Uruguai': 4, 'Paraguai': 5}

In [68]:
jogador.pais = jogador.pais.map(dict_pais)
jogador

,nome_jogador,genero,data_nascimento,cod_jogo,pais,num_vitorias,num_derrotas,total_partidas
0,jogador 1,Masculino,1990-03-09,1,1,14.0,0.0,14.0
1,Jogador 2,Feminino,1986-01-05,2,1,39.0,20.0,59.0
2,Jogador 3,Masculino,1964-04-10,2,2,26.0,3.0,29.0
3,Jogador 4,Masculino,1979-09-28,2,3,9.0,72.0,81.0
4,Jogador 5,Masculino,1978-03-09,1,4,1.0,54.0,55.0
...,...,...,...,...,...,...,...,...
494,Jogador 495,Feminino,1974-03-06,1,1,52.0,28.0,80.0
495,Jogador 496,Masculino,1959-09-02,1,1,13.0,51.0,64.0
496,Jogador 497,Masculino,1962-06-01,2,3,57.0,0.0,80.0
497,Jogador 498,Masculino,1958-09-28,2,1,5.0,3.0,8.0
498,Jogador 499,Feminino,2004-08-10,2,5,1.0,86.0,87.0

In [69]:
jogador = jogador.rename(columns = {'pais': 'cod_pais'})
jogador

,nome_jogador,genero,data_nascimento,cod_jogo,cod_pais,num_vitorias,num_derrotas,total_partidas
0,jogador 1,Masculino,1990-03-09,1,1,14.0,0.0,14.0
1,Jogador 2,Feminino,1986-01-05,2,1,39.0,20.0,59.0
2,Jogador 3,Masculino,1964-04-10,2,2,26.0,3.0,29.0
3,Jogador 4,Masculino,1979-09-28,2,3,9.0,72.0,81.0
4,Jogador 5,Masculino,1978-03-09,1,4,1.0,54.0,55.0
...,...,...,...,...,...,...,...,...
494,Jogador 495,Feminino,1974-03-06,1,1,52.0,28.0,80.0
495,Jogador 496,Masculino,1959-09-02,1,1,13.0,51.0,64.0
496,Jogador 497,Masculino,1962-06-01,2,3,57.0,0.0,80.0
497,Jogador 498,Masculino,1958-09-28,2,1,5.0,3.0,8.0
498,Jogador 499,Feminino,2004-08-10,2,5,1.0,86.0,87.0

In [77]:
for jogadores in jogador.itertuples():
    nome_jogador = jogadores.nome_jogador
    genero = jogadores.genero
    data_nascimento = str(jogadores.data_nascimento)
    cod_jogo = jogadores.cod_jogo
    cod_pais = jogadores.cod_pais
    num_vitorias = jogadores.num_vitorias
    num_derrotas = jogadores.num_derrotas
    total_partidas = jogadores.total_partidas
    try:
        query = f"""insert into jogador (nome_jogador, genero, data_nascimento, cod_jogo, cod_pais, num_vitorias, num_derrotas, total_partidas) 
                     values ('{nome_jogador}', '{genero}',  '{data_nascimento}', '{cod_jogo}', '{cod_pais}', '{num_vitorias}', '{num_derrotas}', '{total_partidas}')"""      
        conn.execute(query)      
        print(f"Registro inserido com sucesso: {nome_jogador}")
    except Exception as e:        
        print(f"Não foi possível inserir o regristro {nome_jogador}. O erro foi encontrado foi: {e}")

Registro inserido com sucesso: jogador 1
Registro inserido com sucesso: Jogador 2
Registro inserido com sucesso: Jogador 3
Registro inserido com sucesso: Jogador 4
Registro inserido com sucesso: Jogador 5
Registro inserido com sucesso: Jogador 6
Registro inserido com sucesso: Jogador 7
Registro inserido com sucesso: Jogador 8
Registro inserido com sucesso: Jogador 9
Registro inserido com sucesso: Jogador 10
Registro inserido com sucesso: Jogador 11
Registro inserido com sucesso: Jogador 12
Registro inserido com sucesso: Jogador 13
Registro inserido com sucesso: Jogador 14
Registro inserido com sucesso: Jogador 15
Registro inserido com sucesso: Jogador 16
Registro inserido com sucesso: Jogador 17
Registro inserido com sucesso: Jogador 18
Registro inserido com sucesso: Jogador 19
Registro inserido com sucesso: Jogador 20
Registro inserido com sucesso: Jogador 21
Registro inserido com sucesso: Jogador 22
Registro inserido com sucesso: Jogador 23
Registro inserido com sucesso: Jogador 24
Registro inserido com sucesso: Jogador 25
Registro inserido com sucesso: Jogador 26
Registro inserido com sucesso: Jogador 27
Registro inserido com sucesso: Jogador 28
Registro inserido com sucesso: Jogador 29
Registro inserido com sucesso: Jogador 30
Registro inserido com sucesso: Jogador 31
Registro inserido com sucesso: Jogador 32
Registro inserido com sucesso: Jogador 33
Registro inserido com sucesso: Jogador 34
Registro inserido com sucesso: Jogador 35
Registro inserido com sucesso: Jogador 36
Registro inserido com sucesso: Jogador 37
Registro inserido com sucesso: Jogador 38
Registro inserido com sucesso: Jogador 39
Registro inserido com sucesso: Jogador 40
Registro inserido com sucesso: Jogador 41
Registro inserido com sucesso: Jogador 42
Registro inserido com sucesso: Jogador 43
Registro inserido com sucesso: Jogador 44
Registro inserido com sucesso: Jogador 45
Registro inserido com sucesso: Jogador 46
Registro inserido com sucesso: Jogador 47
Registro inserido com sucesso: Jogador 48
Registro inserido com sucesso: Jogador 49
Registro inserido com sucesso: Jogador 50
Registro inserido com sucesso: Jogador 51
Registro inserido com sucesso: Jogador 52
Registro inserido com sucesso: Jogador 53
Registro inserido com sucesso: Jogador 54
Registro inserido com sucesso: Jogador 55
Registro inserido com sucesso: Jogador 56
Registro inserido com sucesso: Jogador 57
Registro inserido com sucesso: Jogador 58
Registro inserido com sucesso: Jogador 59
Registro inserido com sucesso: Jogador 60
Registro inserido com sucesso: Jogador 61
Registro inserido com sucesso: Jogador 62
Registro inserido com sucesso: Jogador 63
Registro inserido com sucesso: Jogador 64
Registro inserido com sucesso: Jogador 65
Registro inserido com sucesso: Jogador 66
Registro inserido com sucesso: Jogador 67
Registro inserido com sucesso: Jogador 68
Registro inserido com sucesso: Jogador 69
Registro inserido com sucesso: Jogador 70
Registro inserido com sucesso: Jogador 71
Registro inserido com sucesso: Jogador 72
Registro inserido com sucesso: Jogador 73
Registro inserido com sucesso: Jogador 74
Registro inserido com sucesso: Jogador 75
Registro inserido com sucesso: Jogador 76
Registro inserido com sucesso: Jogador 77
Registro inserido com sucesso: Jogador 78
Registro inserido com sucesso: Jogador 79
Registro inserido com sucesso: Jogador 80
Registro inserido com sucesso: Jogador 81
Registro inserido com sucesso: Jogador 82
Registro inserido com sucesso: Jogador 83
Registro inserido com sucesso: Jogador 84
Registro inserido com sucesso: Jogador 85
Registro inserido com sucesso: Jogador 86
Registro inserido com sucesso: Jogador 87
Registro inserido com sucesso: Jogador 88
Registro inserido com sucesso: Jogador 89
Registro inserido com sucesso: Jogador 90
Registro inserido com sucesso: Jogador 91
Registro inserido com sucesso: Jogador 92
Registro inserido com sucesso: Jogador 93
Registro inserido com sucesso: Jogador 94
Registro inserido com sucesso: Jogador 95
Registro inserido com sucesso: Jogador 96
Registro inserido com sucesso: Jogador 97
Registro inserido com sucesso: Jogador 98
Registro inserido com sucesso: Jogador 99
Registro inserido com sucesso: Jogador 100
Registro inserido com sucesso: Jogador 101
Registro inserido com sucesso: Jogador 102
Registro inserido com sucesso: Jogador 103
Registro inserido com sucesso: Jogador 104
Registro inserido com sucesso: Jogador 105
Registro inserido com sucesso: Jogador 106
Registro inserido com sucesso: Jogador 107
Registro inserido com sucesso: Jogador 108
Registro inserido com sucesso: Jogador 109
Registro inserido com sucesso: Jogador 110
Registro inserido com sucesso: Jogador 111
Registro inserido com sucesso: Jogador 112
Registro inserido com sucesso: Jogador 113
Registro inserido com sucesso: Jogador 114
Registro inserido com sucesso: Jogador 115
Registro inserido com sucesso: Jogador 116
Registro inserido com sucesso: Jogador 117
Registro inserido com sucesso: Jogador 118
Registro inserido com sucesso: Jogador 119
Registro inserido com sucesso: Jogador 120
Registro inserido com sucesso: Jogador 121
Registro inserido com sucesso: Jogador 122
Registro inserido com sucesso: Jogador 123
Registro inserido com sucesso: Jogador 124
Registro inserido com sucesso: Jogador 125
Registro inserido com sucesso: Jogador 126
Registro inserido com sucesso: Jogador 127
Registro inserido com sucesso: Jogador 128
Registro inserido com sucesso: Jogador 129
Registro inserido com sucesso: Jogador 130
Registro inserido com sucesso: Jogador 131
Registro inserido com sucesso: Jogador 132
Registro inserido com sucesso: Jogador 133
Registro inserido com sucesso: Jogador 134
Registro inserido com sucesso: Jogador 135
Registro inserido com sucesso: Jogador 136
Registro inserido com sucesso: Jogador 137
Registro inserido com sucesso: Jogador 138
Registro inserido com sucesso: Jogador 139
Registro inserido com sucesso: Jogador 140
Registro inserido com sucesso: Jogador 141
Registro inserido com sucesso: Jogador 142
Registro inserido com sucesso: Jogador 143
Registro inserido com sucesso: Jogador 144
Registro inserido com sucesso: Jogador 145
Registro inserido com sucesso: Jogador 146
Registro inserido com sucesso: Jogador 147
Registro inserido com sucesso: Jogador 148
Registro inserido com sucesso: Jogador 149
Registro inserido com sucesso: Jogador 150
Registro inserido com sucesso: Jogador 151
Registro inserido com sucesso: Jogador 152
Registro inserido com sucesso: Jogador 153
Registro inserido com sucesso: Jogador 154
Registro inserido com sucesso: Jogador 155
Registro inserido com sucesso: Jogador 156
Registro inserido com sucesso: Jogador 157
Registro inserido com sucesso: Jogador 158
Registro inserido com sucesso: Jogador 159
Registro inserido com sucesso: Jogador 160
Registro inserido com sucesso: Jogador 161
Registro inserido com sucesso: Jogador 162
Registro inserido com sucesso: Jogador 163
Registro inserido com sucesso: Jogador 164
Registro inserido com sucesso: Jogador 165
Registro inserido com sucesso: Jogador 166
Registro inserido com sucesso: Jogador 167
Registro inserido com sucesso: Jogador 168
Registro inserido com sucesso: Jogador 169
Registro inserido com sucesso: Jogador 170
Registro inserido com sucesso: Jogador 171
Registro inserido com sucesso: Jogador 172
Registro inserido com sucesso: Jogador 173
Registro inserido com sucesso: Jogador 174
Registro inserido com sucesso: Jogador 175
Registro inserido com sucesso: Jogador 176
Registro inserido com sucesso: Jogador 177
Registro inserido com sucesso: Jogador 178
Registro inserido com sucesso: Jogador 179
Registro inserido com sucesso: Jogador 180
Registro inserido com sucesso: Jogador 181
Registro inserido com sucesso: Jogador 182
Registro inserido com sucesso: Jogador 183
Registro inserido com sucesso: Jogador 184
Registro inserido com sucesso: Jogador 185
Registro inserido com sucesso: Jogador 186
Registro inserido com sucesso: Jogador 187
Registro inserido com sucesso: Jogador 188
Registro inserido com sucesso: Jogador 189
Registro inserido com sucesso: Jogador 190
Registro inserido com sucesso: Jogador 191
Registro inserido com sucesso: Jogador 192
Registro inserido com sucesso: Jogador 193
Registro inserido com sucesso: Jogador 194
Registro inserido com sucesso: Jogador 195
Registro inserido com sucesso: Jogador 196
Registro inserido com sucesso: Jogador 197
Registro inserido com sucesso: Jogador 198
Registro inserido com sucesso: Jogador 199
Registro inserido com sucesso: Jogador 200
Registro inserido com sucesso: Jogador 201
Registro inserido com sucesso: Jogador 202

Registro inserido com sucesso: Jogador 203
Registro inserido com sucesso: Jogador 204
Registro inserido com sucesso: Jogador 205
Registro inserido com sucesso: Jogador 206
Registro inserido com sucesso: Jogador 207
Registro inserido com sucesso: Jogador 208
Registro inserido com sucesso: Jogador 209
Registro inserido com sucesso: Jogador 210
Registro inserido com sucesso: Jogador 211
Registro inserido com sucesso: Jogador 212
Registro inserido com sucesso: Jogador 213
Registro inserido com sucesso: Jogador 214
Registro inserido com sucesso: Jogador 215
Registro inserido com sucesso: Jogador 216
Registro inserido com sucesso: Jogador 217
Registro inserido com sucesso: Jogador 218
Registro inserido com sucesso: Jogador 219
Registro inserido com sucesso: Jogador 220
Registro inserido com sucesso: Jogador 221
Registro inserido com sucesso: Jogador 222
Registro inserido com sucesso: Jogador 223
Registro inserido com sucesso: Jogador 224
Registro inserido com sucesso: Jogador 225
Registro inserido com sucesso: Jogador 226
Registro inserido com sucesso: Jogador 227
Registro inserido com sucesso: Jogador 228
Registro inserido com sucesso: Jogador 229
Registro inserido com sucesso: Jogador 230
Registro inserido com sucesso: Jogador 231
Registro inserido com sucesso: Jogador 232
Registro inserido com sucesso: Jogador 233
Registro inserido com sucesso: Jogador 234
Registro inserido com sucesso: Jogador 235
Registro inserido com sucesso: Jogador 236
Registro inserido com sucesso: Jogador 237
Registro inserido com sucesso: Jogador 238
Registro inserido com sucesso: Jogador 239
Registro inserido com sucesso: Jogador 240
Registro inserido com sucesso: Jogador 241
Registro inserido com sucesso: Jogador 242
Registro inserido com sucesso: Jogador 243
Registro inserido com sucesso: Jogador 244
Registro inserido com sucesso: Jogador 245
Registro inserido com sucesso: Jogador 246
Registro inserido com sucesso: Jogador 247
Registro inserido com sucesso: Jogador 248
Registro inserido com sucesso: Jogador 249
Registro inserido com sucesso: Jogador 250
Registro inserido com sucesso: Jogador 251
Registro inserido com sucesso: Jogador 252
Registro inserido com sucesso: Jogador 253
Registro inserido com sucesso: Jogador 254
Registro inserido com sucesso: Jogador 255
Registro inserido com sucesso: Jogador 256
Registro inserido com sucesso: Jogador 257
Registro inserido com sucesso: Jogador 258
Registro inserido com sucesso: Jogador 259
Registro inserido com sucesso: Jogador 260
Registro inserido com sucesso: Jogador 261
Registro inserido com sucesso: Jogador 262
Registro inserido com sucesso: Jogador 263
Registro inserido com sucesso: Jogador 264
Registro inserido com sucesso: Jogador 265
Registro inserido com sucesso: Jogador 266
Registro inserido com sucesso: Jogador 267
Registro inserido com sucesso: Jogador 268
Registro inserido com sucesso: Jogador 269
Registro inserido com sucesso: Jogador 270
Registro inserido com sucesso: Jogador 271
Registro inserido com sucesso: Jogador 272
Registro inserido com sucesso: Jogador 273
Registro inserido com sucesso: Jogador 274
Registro inserido com sucesso: Jogador 275
Registro inserido com sucesso: Jogador 276
Registro inserido com sucesso: Jogador 277
Registro inserido com sucesso: Jogador 278
Registro inserido com sucesso: Jogador 279
Registro inserido com sucesso: Jogador 280
Registro inserido com sucesso: Jogador 281
Registro inserido com sucesso: Jogador 282
Registro inserido com sucesso: Jogador 283
Registro inserido com sucesso: Jogador 284
Registro inserido com sucesso: Jogador 285
Registro inserido com sucesso: Jogador 286
Registro inserido com sucesso: Jogador 287
Registro inserido com sucesso: Jogador 288
Registro inserido com sucesso: Jogador 289
Registro inserido com sucesso: Jogador 290
Registro inserido com sucesso: Jogador 291
Registro inserido com sucesso: Jogador 292
Registro inserido com sucesso: Jogador 293
Registro inserido com sucesso: Jogador 294
Registro inserido com sucesso: Jogador 295
Registro inserido com sucesso: Jogador 296
Registro inserido com sucesso: Jogador 297
Registro inserido com sucesso: Jogador 298
Registro inserido com sucesso: Jogador 299
Registro inserido com sucesso: Jogador 300
Registro inserido com sucesso: Jogador 301
Registro inserido com sucesso: Jogador 302
Registro inserido com sucesso: Jogador 303
Registro inserido com sucesso: Jogador 304
Registro inserido com sucesso: Jogador 305
Registro inserido com sucesso: Jogador 306
Registro inserido com sucesso: Jogador 307
Registro inserido com sucesso: Jogador 308
Registro inserido com sucesso: Jogador 309
Registro inserido com sucesso: Jogador 310
Registro inserido com sucesso: Jogador 311
Registro inserido com sucesso: Jogador 312
Registro inserido com sucesso: Jogador 313
Registro inserido com sucesso: Jogador 314
Registro inserido com sucesso: Jogador 315
Registro inserido com sucesso: Jogador 316
Registro inserido com sucesso: Jogador 317
Registro inserido com sucesso: Jogador 318
Registro inserido com sucesso: Jogador 319
Registro inserido com sucesso: Jogador 320
Registro inserido com sucesso: Jogador 321
Registro inserido com sucesso: Jogador 322
Registro inserido com sucesso: Jogador 323
Registro inserido com sucesso: Jogador 324
Registro inserido com sucesso: Jogador 325
Registro inserido com sucesso: Jogador 326
Registro inserido com sucesso: Jogador 327
Registro inserido com sucesso: Jogador 328
Registro inserido com sucesso: Jogador 329
Registro inserido com sucesso: Jogador 330
Registro inserido com sucesso: Jogador 331
Registro inserido com sucesso: Jogador 332
Registro inserido com sucesso: Jogador 333
Registro inserido com sucesso: Jogador 334
Registro inserido com sucesso: Jogador 335
Registro inserido com sucesso: Jogador 336
Registro inserido com sucesso: Jogador 337
Registro inserido com sucesso: Jogador 338
Registro inserido com sucesso: Jogador 339
Registro inserido com sucesso: Jogador 340
Registro inserido com sucesso: Jogador 341
Registro inserido com sucesso: Jogador 342
Registro inserido com sucesso: Jogador 343
Registro inserido com sucesso: Jogador 344
Registro inserido com sucesso: Jogador 345
Registro inserido com sucesso: Jogador 346
Registro inserido com sucesso: Jogador 347
Registro inserido com sucesso: Jogador 348
Registro inserido com sucesso: Jogador 349
Registro inserido com sucesso: Jogador 350
Registro inserido com sucesso: Jogador 351
Registro inserido com sucesso: Jogador 352
Registro inserido com sucesso: Jogador 353
Registro inserido com sucesso: Jogador 354
Registro inserido com sucesso: Jogador 355
Registro inserido com sucesso: Jogador 356
Registro inserido com sucesso: Jogador 357
Registro inserido com sucesso: Jogador 358
Registro inserido com sucesso: Jogador 359
Registro inserido com sucesso: Jogador 360
Registro inserido com sucesso: Jogador 361
Registro inserido com sucesso: Jogador 362
Registro inserido com sucesso: Jogador 363
Registro inserido com sucesso: Jogador 364
Registro inserido com sucesso: Jogador 365
Registro inserido com sucesso: Jogador 366
Registro inserido com sucesso: Jogador 367
Registro inserido com sucesso: Jogador 368
Registro inserido com sucesso: Jogador 369
Registro inserido com sucesso: Jogador 370
Registro inserido com sucesso: Jogador 371
Registro inserido com sucesso: Jogador 372
Registro inserido com sucesso: Jogador 373
Registro inserido com sucesso: Jogador 374
Registro inserido com sucesso: Jogador 375
Registro inserido com sucesso: Jogador 376
Registro inserido com sucesso: Jogador 377
Registro inserido com sucesso: Jogador 378
Registro inserido com sucesso: Jogador 379
Registro inserido com sucesso: Jogador 380
Registro inserido com sucesso: Jogador 381
Registro inserido com sucesso: Jogador 382
Registro inserido com sucesso: Jogador 383
Registro inserido com sucesso: Jogador 384
Registro inserido com sucesso: Jogador 385
Registro inserido com sucesso: Jogador 386
Registro inserido com sucesso: Jogador 387
Registro inserido com sucesso: Jogador 388
Registro inserido com sucesso: Jogador 389
Registro inserido com sucesso: Jogador 390
Registro inserido com sucesso: Jogador 391
Registro inserido com sucesso: Jogador 392
Registro inserido com sucesso: Jogador 393
Registro inserido com sucesso: Jogador 394
Registro inserido com sucesso: Jogador 395
Registro inserido com sucesso: Jogador 396
Registro inserido com sucesso: Jogador 397
Registro inserido com sucesso: Jogador 398
Registro inserido com sucesso: Jogador 399
Registro inserido com sucesso: Jogador 400
Registro inserido com sucesso: Jogador 401
Registro inserido com sucesso: Jogador 402
Registro inserido com sucesso: Jogador 403
Registro inserido com sucesso: Jogador 404
Registro inserido com sucesso: Jogador 405
Registro inserido com sucesso: Jogador 406
Registro inserido com sucesso: Jogador 407
Registro inserido com sucesso: Jogador 408
Registro inserido com sucesso: Jogador 409
Registro inserido com sucesso: Jogador 410
Registro inserido com sucesso: Jogador 411
Registro inserido com sucesso: Jogador 412
Registro inserido com sucesso: Jogador 413
Registro inserido com sucesso: Jogador 414
Registro inserido com sucesso: Jogador 415
Registro inserido com sucesso: Jogador 416
Registro inserido com sucesso: Jogador 417
Registro inserido com sucesso: Jogador 418
Registro inserido com sucesso: Jogador 419
Registro inserido com sucesso: Jogador 420
Registro inserido com sucesso: Jogador 421
Registro inserido com sucesso: Jogador 422
Registro inserido com sucesso: Jogador 423
Registro inserido com sucesso: Jogador 424
Registro inserido com sucesso: Jogador 425
Registro inserido com sucesso: Jogador 426
Registro inserido com sucesso: Jogador 427
Registro inserido com sucesso: Jogador 428
Registro inserido com sucesso: Jogador 429
Registro inserido com sucesso: Jogador 430
Registro inserido com sucesso: Jogador 431
Registro inserido com sucesso: Jogador 432
Registro inserido com sucesso: Jogador 433
Registro inserido com sucesso: Jogador 434
Registro inserido com sucesso: Jogador 435
Registro inserido com sucesso: Jogador 436
Registro inserido com sucesso: Jogador 437
Registro inserido com sucesso: Jogador 438
Registro inserido com sucesso: Jogador 439
Registro inserido com sucesso: Jogador 440
Registro inserido com sucesso: Jogador 441

Registro inserido com sucesso: Jogador 442
Registro inserido com sucesso: Jogador 443
Registro inserido com sucesso: Jogador 444
Registro inserido com sucesso: Jogador 445
Registro inserido com sucesso: Jogador 446
Registro inserido com sucesso: Jogador 447
Registro inserido com sucesso: Jogador 448
Registro inserido com sucesso: Jogador 449
Registro inserido com sucesso: Jogador 450
Registro inserido com sucesso: Jogador 451
Registro inserido com sucesso: Jogador 452
Registro inserido com sucesso: Jogador 453
Registro inserido com sucesso: Jogador 454
Registro inserido com sucesso: Jogador 455
Registro inserido com sucesso: Jogador 456
Registro inserido com sucesso: Jogador 457
Registro inserido com sucesso: Jogador 458
Registro inserido com sucesso: Jogador 459
Registro inserido com sucesso: Jogador 460
Registro inserido com sucesso: Jogador 461
Registro inserido com sucesso: Jogador 462
Registro inserido com sucesso: Jogador 463
Registro inserido com sucesso: Jogador 464
Registro inserido com sucesso: Jogador 465
Registro inserido com sucesso: Jogador 466
Registro inserido com sucesso: Jogador 467
Registro inserido com sucesso: Jogador 468
Registro inserido com sucesso: Jogador 469
Registro inserido com sucesso: Jogador 470
Registro inserido com sucesso: Jogador 471
Registro inserido com sucesso: Jogador 472
Registro inserido com sucesso: Jogador 473
Registro inserido com sucesso: Jogador 474
Registro inserido com sucesso: Jogador 475
Registro inserido com sucesso: Jogador 476
Registro inserido com sucesso: Jogador 477
Registro inserido com sucesso: Jogador 478
Registro inserido com sucesso: Jogador 479
Registro inserido com sucesso: Jogador 480
Registro inserido com sucesso: Jogador 481
Registro inserido com sucesso: Jogador 482
Registro inserido com sucesso: Jogador 483
Registro inserido com sucesso: Jogador 484
Registro inserido com sucesso: Jogador 485
Registro inserido com sucesso: Jogador 486
Registro inserido com sucesso: Jogador 487
Registro inserido com sucesso: Jogador 488
Registro inserido com sucesso: Jogador 489
Registro inserido com sucesso: Jogador 490
Registro inserido com sucesso: Jogador 491
Registro inserido com sucesso: Jogador 492
Registro inserido com sucesso: Jogador 493
Registro inserido com sucesso: Jogador 494
Registro inserido com sucesso: Jogador 495
Registro inserido com sucesso: Jogador 496
Registro inserido com sucesso: Jogador 497
Registro inserido com sucesso: Jogador 498
Registro inserido com sucesso: Jogador 499

prof.leandrolessa@gmail.com